@media screen and (max-width: 768px) {
  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      display: none;
      text-align: center;
  }

  .nav-links.active {
      display: flex;
  }
}

@media (max-width: 425px) {
  
}